<div>
    <!-- Back To Top Button Section -->
    <div class="AppFooterBackToTop">
        <div class="BackToTopDiv">
            <span OnClick="BodyScrollToTop()">
                <i class="bi bi-chevron-compact-up"></i> <br />
                Back to Top
            </span>
        </div>
    </div>

    <!-- App Footer Text Section -->
    <div class="AppFooter">
        <div class="content-width">
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-2 pdTopBottom1rem">
                    <p> Get To Know Us </p>
                    <ul>
                        <li> <a href="#"> About Sigma Classes </a> </li>
                        <li> <a href="#"> Why Sigma Classes </a> </li>
                        <li> <a href="#"> Our Mantra </a> </li>
                        <li> <a href="#"> Our Success </a> </li>
                    </ul>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-2 pdTopBottom1rem">
                    <p> Connect With Us </p>
                    <ul>
                        <li> <a href="#"> YouTube </a> </li>
                        <li> <a href="#"> Facebook </a> </li>
                        <li> <a href="#"> Twitter </a> </li>
                    </ul>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-2 pdTopBottom1rem">
                    <p> Student Ease </p>
                    <ul>
                        <li> <a href="#"> Top 10 Colleges </a> </li>
                        <li> <a href="#"> Sample Papers </a> </li>
                        <li> <a href="#"> Blogs etc. </a> </li>
                    </ul>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-2 pdTopBottom1rem">
                    <p> Contact Us </p>
                    <ul>
                        <li>
                            <address>
                                ABC Road, <br />
                                Pasighat, <br />
                                Arunachal Pradesh
                            </address>
                        </li>
                        <li> Location: </li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>

    <!-- CopyRight Text Section -->
    <div class="AppFooterCopyRights">
        <span> &copy; Sigma Classes – {{currentYear}} </span>
    </div>
</div>