<div>
    <div class="AppHeader">  

        <div class="AppAssistanceDiv">
           <span> Admission Assistance: +91-9xxxxxxxxx (7 am to 10 pm)   </span>
        </div>

        <div class="AppLogoDiv content-width">
            <img class="AppLogo" src={{appLogoWithText}} alt="logo" />
        </div>

        <div class="AppSignInDiv"  >
            <span   *ngIf="showLogoutButton; else showLoginContent" >

              {{greetingMessage+' '}} <strong>  {{loginUserDetails?.userName}} </strong>
              &nbsp;
              <a  (click)="LogMeOut()"> Logout</a>
            </span> 

            <ng-template #showLoginContent > 
                <a routerLink="Login"> Member Login</a>
            </ng-template>
        
        </div>
        
    </div>
</div>





