/* Start: Home Page Image Slider   */

:root {
  --contentHeadingColor: #0b4e92;
}

.slick-slider {
  width: 100%;
  margin: auto;
  border: 1px solid lightgrey;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-slide img {
  max-width: 100% !important;
  /* min-height: 25rem !important; */
  max-height: 30rem !important;
}

.slick-dots li button:before {
  font-size: 0.8rem !important;
  border: 1px solid lightgrey;
  border-radius: 25px;
}

/* Result Section style */

.ResultSection {
  overflow: hidden;
}
.ResultSection .slick-slider {
  width: 93%;
  height: 400px;
  margin: auto;
  border: none;
}

.ResultSection .slick-slide {
  /* border: 1px solid blue; */
  padding: 1rem;
  max-height: 400px;
  text-align: center;
}

.ResultSection .slick-slide img {
  width: 170px;
  height: 180px;
  margin: auto;
}

.ResultSection .slick-prev,
.ResultSection .slick-next {
  display: block !important;
  /* background-color: black; */
  font-size: 1.5rem !important;
  /* height: 100% !important;
  width: 100% !important; */
}

.ResultSection .slick-prev {
  left: -45px !important;
}

.ResultSection .slick-prev::before {
  font-size: 40px !important;
  color: var(--contentHeadingColor) !important;
  opacity: 1 !important;
}

/* .ResultSection .slick-next {
  right: -25px !important;
} */
.ResultSection .slick-next::before {
  font-size: 40px !important;
  color: var(--contentHeadingColor) !important;
  opacity: 1 !important;
}

/* End:  Home Page Image Slider   */
/*##################################################################################################################################  */
