<!-- Main Image slider Section -->

<section>
    <image-slider sliderFor="HomePageMainSlider"></image-slider>
</section>

<br /><br /><br /><br />

<!-- Result slider Section -->

<h1 class="ContentHeading"> Results/ Your Success is Our Success </h1>
<br />

<section class="ResultSection">
    <image-slider sliderFor="HomePageResultSlider"></image-slider>
</section>


<!-- Announcement Section -->
<br /><br /><br /><br />

<section>
    <div class="row col-md-12 pd0">

        <div class="col-md-5 pd0 AnnouncementContainer">
            <h2 class="ContentHeading ulText"> Announcements </h2>
        </div>
        <div class="col-md-2 pd0"></div>

        <div class="col-md-5 pd0 NewsAndEventContainer">
            <h2 class="ContentHeading ulText"> News & Events </h2>
        </div>
    </div>

</section>


<!-- About Us Section -->
<br /><br /><br /><br />

<section>
    <div class="row col-md-12 pd0">

        <div class="col-md-4 pd0 HomePageAboutUsCard">
            <h2 class="ContentHeading fw200"> About Sigma Classes </h2>
            <h4> abcd
            </h4>
        </div>

        <!-- <div class="col-md-1 pd0"></div> -->

        <div class="col-md-4 pd0 HomePageAboutUsCard">
            <h2 class="ContentHeading fw200"> Why Sigma Classes </h2>
            <h4> abcd
            </h4>
        </div>

        <!-- <div class="col-md-1 pd0"></div> -->

        <div class="col-md-4 pd0 HomePageAboutUsCard">
            <h2 class="ContentHeading fw200"> Our Success </h2>
            <h4> abcd
            </h4>
        </div>

    </div>

</section>

<br /><br /><br /><br />


<!-- Query Section -->

<section>
    <h1 class="ContentHeading"> Query? Please reach out to us </h1>
    <br />
</section>