<div>

  <div>
    <!-- Application Header Section -->
    <div class="AppHeaderContainer">

      <app-header></app-header>
    </div>

    <!-- Application Menu Section -->
    <div class="AppMenuContainer">

      <app-menu></app-menu>
    </div>

    <!-- Application Dynamic Page Section -->
    <div class="AppPageContentContainer">

     <!-- <router-outlet></router-outlet> -->

     <home-page></home-page>
    </div>

    <!-- Application Footer Section -->
    <div class="AppFooterContainer">

      <app-footer ></app-footer>
    </div>
  </div>

</div>