
<div class="AppPageContentContainer"> 

    
<div *ngIf="!isOnline"> 
<h2> Please select your preferred mode for application:</h2>

 
<input type="radio" id="onlineMode" value="OnlineMode" name="formMode" (click)="isOnline=!isOnline">
  <label for="onlineMode">Fill Online</label><br>
<input type="radio" id="offlineMode" value="OfflineMode" name="formMode" (click)="downloadForm()">
  <label for="offlineMode">Download and Fill Offline</label> 

</div>


<div *ngIf="isOnline"> 
 
<div class="TextCenter"> <h2> Application Form</h2> </div>
<form [formGroup]="aForm" class="form-control col-md-12" (ngSubmit)="onFormSubmit()">

 


      <div class="formContainer row" *ngFor="let question of questions"> 
        <label  class="col-md-4 formLabel" [attr.for]="question.key" > {{question.labelName}}
            <span *ngIf="question.isRequired" class="formRequiredIcon">*</span>  </label> 
        <input  class="col-md-4 formControl" [id]="question.key" [type]="question.controlType" [formControlName]='question.key'>
        <div  class="col-md-4 formControl-alertContainer"  *ngIf="aForm.controls[question.key].invalid && (aForm.controls[question.key].dirty || aForm.controls[question.key].touched)">
            <div class="alert-danger formControl formControl-alert" *ngIf="aForm.controls[question.key].invalid">
            Input filed is required.
          </div>
        </div>  
         
    </div>  
    
    <br/> <br/>

    <button type="submit" [disabled]="!aForm.valid">Submit</button>
</form> 

</div>

</div>